{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TOPULOGY-dispatch{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>CODE</h3>
</div>
<div class="col-md-4">
    <h3>代码文件上传</h3>
    <form method=post enctype=multipart/form-data action="{{ url_for('topulogy.upload') }}">
         <input type=file name=codefile>
         <input type=submit value=上传>
    </form>
</div>
<div id="editor" class="col-md-8">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
</div>
<script src="https://ace.c9.io/build/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    {% if output %}
        editor.setValue({{output}});
    {% else %}
        editor.setValue('...');
    {% endif %}
    editor.getSession().setMode("ace/mode/python");
</script>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}