{% macro topu(new_data) %}

	 $(function() {

	 	<!--var new_data = {-->
	 		<!--"nodes": [ {-->
	 			<!--"id": 1,-->
	 			<!--"output": "PING1 OK - Packet loss = 0%, RTA = 0.62 ms",-->
	 			<!--"type": "HOST",-->
	 			<!--"alias": "171",-->
	 			<!--"state": "SERVICE"-->
	 		<!--},-->
	 		<!--{-->
	 			<!--"id": 2,-->
	 			<!--"output": "PING2 OK - Packet loss = 0%, RTA = 0.62 ms",-->
	 			<!--"type": "HOST",-->
	 			<!--"alias": "172",-->
	 			<!--"state": "SERVICE"-->
	 		<!--},-->
	 		<!--{-->
	 			<!--"id": 3,-->
	 			<!--"output": "PING3 OK - Packet loss = 0%, RTA = 0.62 ms",-->
	 			<!--"type": "HOST",-->
	 			<!--"alias": "173",-->
	 			<!--"state": "SERVICE"-->
	 		<!--}],-->
	 		<!--"links": [{-->
	 			<!--"type": "GTI",-->
	 			<!--"source": 1,-->
	 			<!--"target": 2-->
	 		<!--},-->
	 		<!--{-->
	 			<!--"type": "GTI",-->
	 			<!--"source": 2,-->
	 			<!--"target": 3-->
	 		<!--}]-->

	 	<!--};-->


		 	var width_2 = $(window).width();
		 	var height_2;
		 	if(parent){
		 		height_2 = $(parent).height();
		 	}else{
		 		height_2 = $(window).height();
		 	}

		 	//------------------define force char----------------
		 	var link,node,node_text,path,linklabels;
		 	var graph = {links:[],nodes:[]};

		 	var div = d3.select("body").append("div")
 			.attr("class", "tooltip")
 			.style("opacity", 0);
		 	//转换数据为力导向图数据一般使用d3.forceSimulation如下代码：
		 	var simulation = d3.forceSimulation()
		 	//指定连线的连接所使用的标示是哪一个字段。
		 			.force("link", d3.forceLink().id(function(d) {
		 				return d.id;
		 			}))
		 			//斥力作用力
		 			.force("charge", d3.forceManyBody().strength(-400))
		 			//.force("center", d3.forceCenter(width_2 / 2, height_2 / 2))
		 			//x,y作用力
		 			 .force("xPos", d3.forceX(width_2/2))
    				.force("yPos", d3.forceY(height_2/2))
		 			.on("tick",tickHandle);
		 	simulation.stop();

		 	var force_svg = d3.select("body").append("div")
 			.append("svg")
 			.attr("width", width_2)
 			.attr("height", height_2)
 			.style("fill","white")
		 	.call(d3.zoom().scaleExtent([1 / 2, 8]).on("zoom", function () {force_svg.attr("transform", d3.event.transform)})).append("g");
		 	//1 先绘制一个箭头，这里force_svg就是在body中添加的svg。
            force_svg.append('defs').append('marker')
		        .attr('id','end')
		        .attr('viewBox','-0 -5 10 10')
		        .attr('refX',25)
		        .attr('refY',0)
		        .attr('orient','auto')
		        .attr('markerWidth',10)
		        .attr('markerHeight',10)
		        .attr('xoverflow','visible')
		        .append('svg:path')
		            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
		            .attr('fill', '#ccc')
		            .attr('stroke','#ccc');

		 	force_svg.append("g").attr("id","link_group");
		 	force_svg.append("g").attr("id","path_group");
		 	force_svg.append("g").attr("id","node_group");
		 	force_svg.append("g").attr("id","lable_group");

		 	path =   force_svg.select("#path_group").selectAll(".path");
		 	node = force_svg.select("#node_group").selectAll(".node");
		 	link = force_svg.select("#link_group").selectAll(".line");
		 	linklabels = force_svg.select("#lable_group").selectAll(".lable");
		 	function showForce(){
		 		//link 绑定数据
		 		link  = link.data(graph.links);
		 		link.exit().remove();
		 		//2 添加连线并和箭头组合在一起,这里link的data已经设置了。
		 		var linkEnter = link
		 	      .enter()
		 	      .append("line")
		 	      .attr("class","link")
		 	      .attr("id",function(d,i) {return 'line'+i})
		 	      .attr('marker-end','url(#end)')
		 	      .style("stroke","#ccc")
		 	      .style("pointer-events", "none");

		 		path = path.data(graph.links);
		 		path.exit().remove();
		 		var pathEnter = path.enter().append('path').
		 		attr('class','path')
		         .attr('fill-opacity',0)
		                .attr('stroke-opacity',0)
		               	.attr('fill','blue')
		                .attr('stroke','red')
		                .attr('id',function(d,i) {return 'link'+i})
		         .style("pointer-events", "none");
		 		path = pathEnter.merge(path);

		 		linklabels = linklabels.data(graph.links);
		 		//remove exit
		 		linklabels.exit().remove();
		 		var linklabelsEnter = linklabels.enter().append('text')
		         .style("pointer-events", "none")
		         .attr('id',function(d,i){return 'linklabe'+i})
		                .attr('dx',80)
		                .attr('dy',0)
		                .attr('font-size',10)
		                .attr('fill','#aaa');

		        //update，连线标识
		 		linklabels.select("text").select("textPath").attr('xlink:href',function(d,i) {return '#link'+i})
		         .style("pointer-events", "none")
		         .text(function(d,i){
					var s;
					switch(d.type){
					 case "GTI":
						 s = "TO INSTANCE";
						 break;
					 case "NTI":
						 s = "TO INSTANCE";
						 break;
					 case "NTG":
						 s = "TO GROUP";
						 break;
					 case "NTD":
						 s = "TO DEPENDENT";
						 break;
					 case "NTP":
						 s = "TO PARENT";
						 break;
					 case "NTH":
						 s = "TO HOST";
						 break;
					 default:
						 s = "UNKOWN";
					}
					return s;
		         });
		 		//new ，重复了好像
		 		linklabelsEnter.append('textPath')
		         .attr('xlink:href',function(d,i) {return '#link'+i})
		         .style("pointer-events", "none")
		         .text(function(d,i){
					var s;
					switch(d.type){
					 case "GTI":
						 s = "TO INSTANCE";
						 break;
					 case "NTI":
						 s = "TO INSTANCE";
						 break;
					 case "NTG":
						 s = "TO GROUP";
						 break;
					 case "NTD":
						 s = "TO DEPENDENT";
						 break;
					 case "NTP":
						 s = "TO PARENT";
						 break;
					 case "NTH":
						 s = "TO HOST";
						 break;
					 default:
						 s = "UNKOWN";
					}
					return s;
		         });

		 		linklabels = linklabelsEnter.merge(linklabels);
		 		link = linkEnter.merge(link);
//更新svg中的节点，连线的说明，图片，状态等信息。
//在d3中设置了data属性后返回的就是更新后的数据，这里有一个资料可以比较清楚的了解update ，exit ,enter之间的关系和获得方式。
		 		// 在修改数据后需要修改界面展示方式的都要对update的数据进行重新设置属性使其根据新的状态来展示数据，对删除的节点也就是exit的节点需要remove，对于新增的节点需要使用enter来定义显示方式。如对节点说明的text标签进行操作的代码如下：
		 		//node
		 		node = node.data(graph.nodes/* ,function(d,i){
		 			return d.id + d.type + d.state;
		 		} */);

		 		//remove
		        node.exit().remove();
		 		var nodeEnter = node.enter()
	 			.append("g")
	 			.attr("class","node")
	 			.on("mouseover", function(d) {
	 				div.transition()
	 					.duration(200)
	 					.style("opacity", .9);//节点信息背景由隐藏变现
	 				div.html(d.output)
	 					.style("left", (d3.event.pageX) + "px")
	 					.style("top", (d3.event.pageY - 50) + "px");
	 					//节点图标x,y变为2倍，并变成48大小
	 				d3.select(this).select("image").transition()
                    .duration(200)
                    .attr("x", -32)
    	 			.attr("y", -32)
    	 			.attr("width", 48)
    	 			.attr("height", 48);
	 				//标注变大变蓝，动画
	 				d3.select(this).select("text").transition()
	 		        .duration(200)
	 		        .attr("dx", -32)
	 		        .attr("dy",-32)
	 		        .style("fill", "blue")
	 		        //.style("stroke", "lightsteelblue")
	 		       // .style("stroke-width", ".5px")
	 		        .style("font", "20px sans-serif")
	 				.style("z-index",999);//最高层突出显示

	 			}).on("mouseout", function () {
	 				div.transition()
 					.duration(200)
 					.style("opacity", 0);
	 				d3.select(this).select("image").transition()
                    .duration(200)
                    .attr("x", -16)
    	 			.attr("y", -16)
    	 			.attr("width", 32)
    	 			.attr("height", 32);
	 				d3.select(this).select("text").transition()
	 		        .duration(200)
	 		        .attr("dx",20)
	 		        .attr("dy",8)
	 		        .style("fill", "black")
	 		        .style("stroke", null)
	 		        .style("stroke-width", null)
	 		        .style("font", null)
	 		        .style("z-index",null);
	 	        })
	 			.call(d3.drag().on("start", dragstarted)
		 				.on("drag", dragged)
		 				.on("end", dragended));


		 		//update，节点text因种类不同
		 		node.select("text").text(function(d) {
	 				if (d.type == "INSTANCE") {
	 					return d.alias;
	 				} else if(d.type == "HOST") {
	 					return d.alias + "(" + d.node_host_address + ")";
	 				}else{
	 					return d.alias;
	 				}
	 			});
	 			//new
		 		node_text = nodeEnter.append("text")
	 			.style("fill", "black")
	 			.attr("dx", 20)
	 			.attr("dy", 8)
	 			.text(function(d) {
	 				if (d.type == "INSTANCE") {
	 					return d.alias;
	 				} else if(d.type == "HOST") {
	 					return d.alias + "(" + d.node_host_address + ")";
	 				}else{
	 					return d.alias;
	 				}
	 			});

		 		//update
		 		node.select("circle").style("stroke",function(d,i){
	 				if(d.type == "HOST"){
	 					if(d.state == 1){
	 						return "yellow";
	 					}else if(d.state == 2){
	 						return "red";
	 					}else if(d.state >0){
	 						return "#919191";
	 					}
	 				}else if(d.type == "SERVICE"){
	 					if(d.state == 1){
	 						return "yellow";
	 					}else if(d.state == 2){
	 						return "#FF8888";
	 					}else if(d.state == 3){
	 						return "red";
	 					}else if(d.state >0){
	 						return "#919191";
	 					}
	 				}
	 				if(d.state == null ){
 						return "#919191";
 					}
	 			})
	 			.style("opacity", function(d,i){
	 				if(d.type == "SERVICE" || d.type == "HOST"){
	 					if(d.state >0 || d.state== null){
		 					return 1;
		 				}else{
		 					return 0;
		 				}
	 				}else{
	 					return 0;
	 				}
	 			});
		 		//突出提示警告和异常
		 		//这里使用不断放大颜色不同的圆来表示信息的级别
		 		//这里主要是给每个node创建一个空心的圆，并默认设置为完全透明，根据不同的状态设置不同的颜色和透明度，如果有出现异常的节点并循环的播放start事件中的动画，关于start事件必须要在transition()后才能监听
		 		var node_circle = nodeEnter.append("circle").style("fill","none")
		 			.attr("r",17)
		 			.style("stroke-width","3")
		 			.style("stroke",function(d,i){
		 				if(d.type == "HOST"){
		 					if(d.state == 1){
		 						return "yellow";
		 					}else if(d.state == 2){
		 						return "red";
		 					}else if(d.state >0){
		 						return "#919191";
		 					}
		 				}else if(d.type == "SERVICE"){
		 					if(d.state == 1){
		 						return "yellow";
		 					}else if(d.state == 2){
		 						return "#FF8888";
		 					}else if(d.state == 3){
		 						return "red";
		 					}else if(d.state >0){
		 						return "#919191";
		 					}
		 				}
		 				if(d.state == null){
	 						return "#919191";
	 					}
		 			})
		 			.style("opacity", function(d,i){
		 				if(d.type == "SERVICE" || d.type == "HOST"){
		 					if(d.state >0 || d.state== null){
			 					return 1;
			 				}else{
			 					return 0;
			 				}
		 				}else{
		 					return 0;
		 				}
		 			}).transition()
		 	    .duration(1000)
		 	    .delay(function(d,i){
		 	    	if(i){
						return i*10;
		 	    	}
		 	    	return 10;
		 	    })
		 	    .on("start", function repeat(d) {
		 	        d3.active(this)
		 	            .attr("r", 17)
		 	            .style("opacity",1)
		 	          .transition()
		 	           .attr("r", 30)
		 	           .style("opacity",0)
		 	          .transition()
		 	            .on("start", repeat);
		 	      });


		 		//update
		 		node.select("image").attr("xlink:href", function(d, i) {
	 				if (d.type == "GROUP") {
	 					return "{{ url_for('static', filename='group.png') }}";
	 				} else if (d.type == "SERVICE") {
						return "{{ url_for('static', filename='Network_Service.png') }}";
	 				} else if (d.type == "HOST") {
						return "{{ url_for('static', filename='server.png') }}";
	 				} else if (d.type == "INSTANCE") {
						return "{{ url_for('static', filename='Select_Object_Side.png') }}";
	 				} else {
	 					return null;
	 				}
	 			});
		 		//nodeEnter 同上面linkEnter一样的来的，这里为每个node里面添加一个image标签并设置图片，坐标和大小
		 		//new
		 		var node_image = nodeEnter.append("image")
	 			.attr("xlink:href", function(d, i) {
	 				if (d.type == "GROUP") {
	 					return "images/group.png";
	 				} else if (d.type == "SERVICE") {
	 					return "images/Network_Service.png";
	 				} else if (d.type == "HOST") {
	 					return "images/server.png";
	 				} else if (d.type == "INSTANCE") {
	 					return "images/Select_Object_Side.png";
	 				} else {
	 					return null;
	 				}
	 			})
	 			.attr("x", -16)
	 			.attr("y", -16)
	 			.attr("width", 32)
	 			.attr("height", 32);


		 		node = nodeEnter.merge(node);
		 		//更新后需要合并节点并赋值给节点对象。



		 		simulation.stop();

	 		    simulation.nodes(graph.nodes);

	 		    simulation.force("link").links(graph.links).distance(120);
	 		    simulation.alpha(1);
	 		    simulation.restart();

		 	}


		 	function dragstarted(d) {
	 			if (!d3.event.active) simulation.alphaTarget(0.3).restart();
	 			d.fx = d.x;
	 			d.fy = d.y;
	 		}

	 		function dragged(d) {
	 			d.fx = d3.event.x;
	 			d.fy = d3.event.y;
	 		}

	 		function dragended(d) {
	 			if (!d3.event.active) simulation.alphaTarget(0);
	 			d.fx = null;
	 			d.fy = null;
	 		}
		 	//这里通过修改tick事件的函数实现此功能，在事件函数中添加如下代码使图标不能拖出显示窗外
		 	function tickHandle() { //对于每一个时间间隔
	 			node.attr("cx", function(d) {
	 					return d.x = Math.max(16, Math.min(width_2 - 16, d.x));
	 				})
	 				.attr("cy", function(d) {
	 					return d.y = Math.max(16, Math.min(height_2 - 16, d.y));
	 				});

	 			 link.attr("x1", function(d) {
	 					return d.source.x;
	 				})
	 				.attr("y1", function(d) {
	 					return d.source.y;
	 				})
	 				.attr("x2", function(d) {
	 					return d.target.x;
	 				})
	 				.attr("y2", function(d) {
	 					return d.target.y;
	 				});
	 			path.attr("d", function(d) {
	 		        return "M" +
 		            d.source.x + "," +
 		            d.source.y + "L" +
 		            (d.target.x) + "," +
 		            (d.target.y)}
 		            );
	 			linklabels.attr('transform',function(d,i){
	 	            if (d.target.x<d.source.x){
	 	                bbox = this.getBBox();
	 	                rx = bbox.x+bbox.width/2;
	 	                ry = bbox.y+bbox.height/2;
	 	                return 'rotate(180 '+rx+' '+ry+')';
	 	                }
	 	            else {
	 	                return 'rotate(0)';
	 	                }
	 	        });


	 			node.attr("transform", function(d) {
	 				return "translate(" + d.x + "," + d.y + ")";
	 			});

	 			//更新文字坐标
	 			node_text.attr("x", function(d) {
	 					return d.x;
	 				})
	 				.attr("y", function(d) {
	 					return d.y;
	 				});
	 		}


			//-------------------define force end----------------
			//对比节点并更新和添加不同或者没有的节点. 定义个来更新数据的对象
		 	function myGraph() {
		 		//---------node------------------------------
		 		this.findNode = function(id) {
		 			for (var i in graph.nodes) {
		 				if (graph.nodes[i]["id"] === id) return graph.nodes[i];
		 			}
		 			return null;
		 		};

		 		this.findNodeIndex = function(id) {
		 			for (var i = 0; i < graph.nodes.length; i++) {
		 				if (graph.nodes[i].id == id) {
		 					return i;
		 				}
		 			}
		 			return null;
		 		};
		 		this.removeNodeByIndex = function(index, id) {
		 			var i = graph.links.length;
		 			//先移除相连的其他节点
		 			while (i--) {
		 				if ((graph.links[i]['source'] == id) || (graph.links[i]['target'] == id)) {
		 					graph.links.splice(i, 1);
		 				}
		 			}
		 			graph.nodes.splice(index, 1);
		 		};
		 		//比对新旧数组并移除不匹配节点
		 		this.clearNode = function(new_nodes) {
		 			var i = this.getNodeLength();
		 			if (new_nodes.length < i) {
		 				while (i--) {
		 					if (!this.findeNodeInArray(new_nodes, graph.nodes[i]["id"])) {
		 						this.removeNodeByIndex(i, graph.nodes[i]["id"]);
		 					}
		 				}
		 			}
		 			update();
		 		}

		 		this.getNodeLength = function() {
		 			if (graph && graph.nodes) {
		 				return graph.nodes.length;
		 			}
		 			return 0;
		 		}
		 		this.findeNodeInArray = function(obj_arr, id) {
		 			for (var n in obj_arr) {
		 				if (n["id"] === id) return n;
		 			}
		 			return null;
		 		};

		 		this.addNode = function(new_node) {
		 			graph.nodes.push( jQuery.extend(true, {}, new_node));
		 			update();
		 		};

		 		this.updateNode = function(new_data_node) {
		 			var index = this.findNodeIndex(new_data_node.id);
		 			if (index) {
		 				for (var attr in new_data_node) {
		 					if (new_data_node.hasOwnProperty(attr)) graph.nodes[index][attr] = new_data_node[attr];
		 				}
		 			}
		 			update();
		 		}

		 		//---------------link--------------

		 		this.findLink = function(source, target) {
		 			for (var i = 0; i < graph.links.length; i++) {
		 				if (graph.links[i].source== source && graph.links[i].target == target) {
		 					return graph.links[i];
		 				}
		 			}
		 			return null;
		 		}

		 		this.findLinkInArray = function(objArray, link) {
		 			for (var l in objArray) {
		 				if (l.source == link.source && l.target == link.target) {
		 					return l;
		 				}
		 			}
		 			return null;
		 		}

		 		this.clearLink = function(links) {
		 			var i = graph.links.length;
		 			if (links.length < i) {
		 				while(i--){
		 					if (!this.findLinkInArray(links, graph.links[i])) {
		 						graph.links.splice(i, 1);
		 					}
		 				}
		 			}
		 			update();
		 		}


		 		this.removeLink = function(source, target) {
		 			for (var i = 0; i < graph.links.length; i++) {
		 				if (graph.links[i].source== source && graph.links[i].target== target) {
		 					graph.links.splice(i, 1);
		 					break;
		 				}
		 			}
		 			update();
		 		};

		 		this.removeallLinks = function() {
		 			graph.links.splice(0, graph.links.length);
		 			update();
		 		};

		 		this.removeAllNodes = function() {
		 			graph.nodes.splice(0, graph.nodes.length);
		 			update();
		 		};

		 		this.addLink = function(newLink) {
		 			graph.links.push(jQuery.extend(true, {}, newLink));
		 			update();
		 		};

		 		var update = function() {
		 			showForce();
		 			if(parent.iframeLoaded){
		 				parent.iframeLoaded();
		 			}
		 		};


		 		// Make it all go
		 		update();
		 	}
		 	//测试用例
			//5秒加载一次，并随机修改一个node的状态.定时获取新的json
		 	<!--d3.interval(function() {-->
		 		<!--new_data.nodes[Math.floor(Math.random()*new_data.nodes.length)].state = Math.floor(Math.random()*4);-->
		 		<!--reloadData();-->
		 	<!--}, 5000, d3.now());-->
		 	//完整的reload函数。对node 和line都是先查找然后根据查找结果来更新或者插入到force的data中
		 	var my_graph;
		 	function reloadData() {
		 		if(!my_graph){
			 		my_graph = new myGraph();
		 		}
				//handle node
	 			$.each(new_data.nodes, function(i,new_node) {
	 				var old_node = my_graph.findNode(new_node.id);
	 				if (!old_node) {
	 					my_graph.addNode(new_node);
	 				} else {
	 					my_graph.updateNode(new_node);
	 				}
	 			});
	 			my_graph.clearNode(new_data.nodes);

	 			//handle line
	 			$.each(new_data.links,function(i,new_link) {
	 				var old_link = my_graph.findLink(new_link.source, new_link.target);
	 				if (!old_link) {
	 					my_graph.addLink(new_link);
	 				} else {
	 					old_link.type = new_link.type;
	 				}
	 			});
	 			my_graph.clearLink(new_data.links);
		 	}
			reloadData();

		 	//这里是根据获得父元素的高和宽来实现的，同时监听窗口的变化来改变svg的宽和高
		 	$(window).resize(function() {
		 		width_2 = $(window).width();
		 		height_2 = $(window).height();
		 		//console.log("resize");
		 		reloadData();
		 	});

		 });
{% endmacro %}
{% macro reloadData(data) %}
new_data=data;
reloadData();
{% endmacro %}