{% extends "common/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common/_macros.html" as macros %}
{% import "_topuforce.html" as topumacros %}
{% block title %}TOPULOGY{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    div.tooltip {
        position: absolute;
        text-align: center;
        width: 300px;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var new_data={"nodes":[],"links":[]};
    $(document).ready(function () {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        {{ topumacros.topu(new_data) }}
        socket.on('connect', function () {
            //str=JSON.stringify(msg.graph)
            $('#log').append('<br>' + $('<div/>').text('conect').html());
        });
        window.setInterval(function () {
            socket.emit('my_ping');
        }, 2000);
        socket.on('my_pong', function (msg) {
            new_data=JSON.parse(msg.data)
            var str = JSON.stringify(msg.data)
            reloadData();
            d3.select("#log").text("f" + (new Date).getSeconds() + str);
        });
    })
</script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}游客{% endif %}!</h1>
</div>
<div id="log"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
